* {
    padding: 0;
    margin: 0;
    z-index: 1000;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    
    display: flex; /* coloca os filhos lado a lado */
}

.cot-rol {
    height: 98%;
    width: 20%;
    background-color: aqua;
    order: 1; /* aparece primeiro (esquerda) */

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.btn{
    background-color: black;
    cursor: pointer;
    color: aliceblue;
    width: 100%;
}


.cot-dimensional,
.cot-certificados,
.cot-desenhos,
.cot-pr {
    height: 100%;
    width: 80%;
    background-color: aliceblue;
    order: 2; /* aparece depois (direita) */

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.cot-dimensional{
    display: none;
}
.cot-certificados{
    display: none;
}
.cot-desenhos {
    display: none;
}